body {
  background: linear-gradient(135deg, #E8B3FC, #F9B3E4);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

#generated-password {
  font-weight: bold;
  font-size: 24px;
  font-family: Helvetica;
  padding: 12px;
}

#password-length {
  font-weight: bold;
}

.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  min-width: 400px;
  height: auto; /* Adjust height dynamically based on content */
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 24px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  border-bottom: 0;
  margin-top: -12px;
  margin-left: -24px;
}


.col,
.row {
  width: 85%;
  height: 85%;
}

footer {
  background: #000000;
  color: #ffffff;
  padding: 1rem;
  text-align: center;
  margin-top: auto;
}

/* Media Queries */
@media (max-width: 767px) {
  .speech-bubble {
    min-width: 100%;
    min-height: auto;
  }

  #generated-password {
    font-size: 18px;
    padding: 8px;
  }

  #password-length {
    font-size: 14px;
  }

  .col,
  .row {
    margin-bottom: 1.5rem; /* Add slightly more margin between col divs */
  }

  .col:first-child {
    margin-top: 1rem; /* Add margin-top on the first col */
  }

  footer {
    margin-top: 1.5rem; /* Add slightly more margin between col divs and footer */
  }
}