html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  body {
    background: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  }

  #generated-password {
    font-weight: bold;
    font-size: 24px;
    font-family:Helvetica;
  }
  