body {
background: #E091CB;
background: linear-gradient(135deg, #E091CB, #E595CC);}

#generated-password {
  font-weight: bold;
  font-size: 24px;
  font-family: Helvetica;
  padding: 12px;
}

#password-length {
  font-weight: bold;
}

.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: 24px; /* Increase the border-radius value for even rounder corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase the size of the shadow */
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 24px solid transparent; /* Increase the border size */
  border-right-color: #ffffff;
  border-left: 0;
  border-bottom: 0;
  margin-top: -12px; /* Adjust the margin-top value to center the arrow */
  margin-left: -24px; /* Adjust the margin-left value to position the arrow */
}

